<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #main{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap: 20px;
      }
    </style>
  </head>

  <body>
    <div>
      <h3 id="wallet">
        <!--SHOW CURRENT WALLET VALUE HERE, ONLY THE NUMBER SHOULD BE VISIBLE-->
      </h3>
    </div>

    <div id="main">
      <!--SHOW ALL THE VOUCEHRS DATA FROM API HERE( IMAGE, NAME AND PRICE)-->
    </div>
  </body>
</html>

<script type="module">
  //WRITE YOUR LOGIC HERE
 
     import {showdata,appenddata,buyvoucher} from "./script/append.js";

     let main = document.getElementById("main");

     let resp = await showdata("https://masai-vouchers-api.herokuapp.com/api/vouchers")

     console.log(resp);

     appenddata(resp,main)


</script>
