#ram{
    border: 1px solid black;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
 }
 #ram>div{
    margin-right: 50px;
    padding: 15px;
    font-size: large;
    
 }
 #login-form-div{
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   text-align: center;
   width: 30%;
   margin: auto;
   margin-top: 100px;
   
}
#form>input{
    margin-top: 20px;
}
#submit{
    background-color: teal;
    margin-bottom: 20px;
    color: white;
    
}
